<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <script src="/handleDialog.js" defer></script>
    <script src="/handleContextMenu.js" defer></script>

    <meta charset="UTF-8">
    <title>FileSafe</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <%- include("./partials/upload") %>
    <%- include("./partials/create") %>
    <div class="fs-menu">
        <div class="breadcrumb">

        </div>
        <div class="fs-actions">
            <button class="fs-action btn upload">
                <div class="u-file img-con"></div>
                <span>Upload</span>
            </button>
            <button class="fs-action btn create">
                <div class="u-folder img-con"></div>
                <span>New Folder</span>
            </button>
        </div>
    </div>
    <div class="page upgrade">
        <% if (locals?.files?.length || locals?.folders?.length) { %>
            <div class="dir-contents">
                <% if (locals?.folders) { %>
                    <% folders.forEach((folder) => { %>
                        <a
                            class="fs-entry folder"
                            href="<%= locals.directory %>/<%= folder.foldername %>"
                        >
                            <div class="img-con"></div>
                            <span><%= folder.foldername %></span>
                        </a>
                    <% }) %>
                <% } %>
                <% if (locals?.files) { %>
                    <% files.forEach((file) => { %>
                        <a class="fs-entry file" href="/view/file/<%= file.id %>">
                            <div class="img-con"></div>
                            <span><%= file.filename %></span>
                        </a>
                    <% }) %>
                <% } %>
            </div>
        <% } else { %>
            <p class="fs-error"> <%= locals?.error %> </p>
        <% } %>
    </div>
</body>
<template class="tplt-ctx-menu">
    <div class="ctx-menu">
        <ul>
            <li>Move</li>
            <li>Delete</li>
        </ul>
    </div>
</template>
</html>
