<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">

    <meta charset="UTF-8">
    <title>FileSafe</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <div class="page view-file">
        <div class="view-icon file">
            <img
                src="/icons/file-cloud-outline.svg"
                height="500px"
            ></img>
        </div>
        <div class="file-details">
          <h2><%= locals.file.filename %></h2>
          <p class="file-owner"><%= locals.file.owner %></p>
          <table>
              <tr>
                <td>Type</td>
                <td><%= locals.file.type %></td>
              </tr>
              <tr>
                <td>Size</td>
                <td><%= Math.ceil(locals.file.size / 1024) %>mb</td>
              </tr>
              <tr>
                  <td>Upload Date</td>
                  <td><%= new Date(locals.file.uploadDate).toLocaleDateString(navigator.language, {
                      month: "long",
                      year: "numeric",
                      day: "2-digit",
                      hour: "numeric",
                      minute: "numeric"
                  }) %></td>
              </tr>
          </table>
          <a
              class="download btn lnk member up sp"
              href=<%= locals.file.url %>
          >Download</a>
        </div>
    </div>
</body>
</html>
